.table1{
    position:relative;
    left:250px;
    top:80px;
    text-align:center;

}
#table1 td{

	text-align: center;
	border:1px solid black;
	padding: 20px;
	color:#332f2f;
	border-spacing:10px;



}
#thead1 th{
    background-color: #208cc6;
    color: #ffffff;
    font-weight:bold;
    padding: 20px;
    border-spacing:10px;
    border:1px solid black;

}
tr:nth-child(even) {background-color: #e1e1e1;}